.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav {
  background-color: #2fbde4 !important;
  height: 50px;
  color: white;
}

.desc-div {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.desc-div p {
  color: gray;
  font-weight: 200;
}

.desc-div h2 {
  font-weight: 100;
}

.beerList {
  display: flex;
  padding: 10px;
}

.beerList h4 {
  color: gray;
  font-size: 40;
  font-weight: 200;
}

.beerInfo {
  padding: 10px;
}
